.subscription-form {
  &__header {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 2rem;
  }
  &__element {
    width: 100%;
    &.button {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 1rem;
    }
  }
  &__label {
    width: 25%;
    display: inline-block;
  }
  &__input {
    width: 65%;
    display: inline-block;
    border: 1px solid $sidebar-category !important;
  }
  &__button {
    border: unset;
    padding: 0.4rem 0.6rem;
    font-size: 1rem;
    text-align: center;
    background-color: $purple;
    color: $white;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    user-select: none;
    &:hover {
      box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
    }
    &:active {
      background-color: $dark-purple;
      box-shadow: unset;
    }
  }
}
