@import "../../colors.scss";

.content {
  &.dashboard {
    background-color: $white;
    width: 80%;
    height: 100%;
    margin-left: 20%;
    padding: 2rem 2rem;
  }
  &__container {
    position: relative;
    height: 100%;
  }
  &__main {
    &__content {
      display: inline-block;
      width: 65%;
      background-color: $grey;
      display: inline-block;
      border-radius: 8px;
      padding: 0.8rem 1rem;
    }
    &__information {
      display: inline-block;
      height: inherit;
      position: fixed;
      width: 25%;
      right: 2rem;
    }
  }
}

.listing {
  &__container {
    width: 100%;
  }
}
