@import "../../colors.scss";

.content {
    width: 100%;
    height: calc(100% - 80px);
    &.home {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: $grey;
    padding: 1rem;
    column-gap: 1rem;
    border-radius: 4px;
    min-width: 40rem;
    &__element {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 14rem;
        margin: 0.5rem 0;
        &.button {
            justify-content: center;
        }
    };
    &__button {
        user-select: none;
    };
    &__label {
        min-width: 5rem;
    };
    &__header {
        font-size: 1.5rem;
        font-weight: 600;
        color: $dark-grey;
    };
}